@import url(commons.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body,main{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
header .fir{
	position: relative;
	color: #fff;
	background-image: url(backg.jpg);
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	text-align: center;
}
.second,.three{
	width: 100%;
	height: 100%;
}
.fir .confi{
	padding-top: 300px;
	padding-bottom: 300px;
}
.fir a{
	color: #fff;
	padding: 10px;
}
.nav>ul> li > a:hover{
	background: #fed030;
}
.nav>ul{
	position: relative;
	float: right;
	/*border: 1px solid red;*/
	left: -150px;
	bottom: -15px;
	/*position: absolute;*/
}
.nav>ul>li{
	float: left;
	list-style: none;
	display: inline-block;
	margin: 20px;
}
.p1{
	margin: 20px 0 0 15px; 
	float: left;
	color: #fed030;
	font-size: 27px;
	font-weight: 700;
}
.confi>h1{
	margin: 20px 0;
	font-size: 5em;
}
.confi>p{
	font-size: 2.7em;
	font-style:italic;
}
.sed{
	text-align: center;
}
.confi > a{
	background: #fed030
}
.confi > a:hover{
	background: #e8cb4f;
}
main>.second{
	padding: 150px;
}
main>.second>ul>li{
	float: left;
	width: 33.33%;
	margin: 80px 0px 200px;
	padding:0 20px;
}
.second>ul>li .iconfont{
	font-size: 72px;
	color: #fed030;
}


/*第三页*/


main>.three>ul>.img-size{
	width: 30%;
	height: 100%;
}
main>.three>ul>li>a:hover::before{
	content: "+";
	font-size: 72px;
	position: absolute;
	bottom:0;left:0;right:0;
	line-height: 180px;
	width: 100%
	color:#f1f1f1;
	
	background:#fed030;
	opacity: 0.8
}
main>.three{
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	border:1px solid #f7f7f7;
}
main>.three>ul>li{
	float: left;
	width: 30%;
	height: 240px;
	background-color: #f1f1f1;
	margin: 15px;
}
main>.three>ul>li>a{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 180px;
}
.img-size>a img{
	width: 100%;
	height: 180px;
}
main>.three>ul{
	margin: 60px;
}


/*第四页*/


main>.fourth{
	position: relative;
}
main>.fourth>.line>ul{
	margin: 0 60px;
}
main>.fourth>.line>.double>li{
	float: right;
}
main>.fourth>.line>.odd>li{
	position: relative;
	width: calc(50% + 100px);
	height: 200px;
}
main>.fourth>.line>.double>li{
	position: relative;
	width: calc(50% + 100px);
	height: 200px;
}
main>.fourth>.line>.double>li>img{
	float: left;
	border-radius: 50%;
}
main>.fourth>.line>.odd>li>img{
	float: right;
	border-radius: 50%;
}
main>.fourth>.line>ul>li{
	margin: 50px 0;
}
main>.fourth>.line::before {
	/*height: 100%;*/
	left: 50%;
	top:130px;
	bottom: 60px;
	content: "";
	position: absolute;
	width: 2px;
	background-color: black;
	display: block;
	padding-bottom: -60px;
	/* style */
}
main>.fouth>.line{
	margin-bottom: -60px;
}


/*第五页*/

main>.fifth{
	background-color: #f7f7f7;
}
.five-div>ul>li{
	float: left;
	width: 33.33%;
}
.five-div{
	margin: 40px 120px;
}
.five-div>ul>li>img{
	border-radius: 50%;
	border: 7px solid #fff;
}
.five-div>ul>li>a{
	display: inline-block;
	border-radius: 100%;
}
.five-div .iconfont{
	font-size: 32px;
	padding: 10px;
}
.five-div>ul>li>a:hover{
	background-color: #fed136;
}

/*第六页*/


main>.sixth{
	position: relative;
	padding-top: 280px;
	height: 100%;
	width: 100%;
	background:url(backg.jpg);
	background-size:cover;
}
.form{
	width: 100%;
	height: 120px;
}
main>.sixth>.form>.form-small{
	float: left;
	margin-left: 120px; 
}
main>.sixth>.form>.form-small>input{
	display: block;
	height: 28px;
	width: 400px;
	margin-bottom: 12px;
}
main>.sixth>.form>.form-big>input{
	display: block;
	height: 108px;
	width: 400px;
}
main>.sixth>.form>.form-big{
	float: right;

	margin-right: 120px;
}
main>.sixth>a{
	display: inline-block;
	color: #fff;
	background: #fed136;
	padding: 15px 20px;
	border-radius: 3px;
}
main>.sixth>a:hover{
	background: #e8cb4f;	
}


