* {
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
}
body{
	width: 100%
}
header{
	margin: 10px auto 0;
	padding: 10px;
	width: 800px;
	text-align: center;
	/*box-shadow: 1px 10px 0px 3px rgba(0,0,0,0.3);*/
	border-bottom: 1.3px solid rgba(0,0,0,0.1);
}
header h1{
	color:rgba(0,0,0,0.5);
}
main{
	/*border: 1px solid red;*/
	width:830px;
	margin: 10px auto 0;
	text-align: center;
}

img{
	width:100%;
	opacity: 0.8;
}
main>div{
	margin: 40px 5px auto;
	width:32%;
	float: left;
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
}
main>div>p{
	padding: 14px;
}
main::after{
  content:'';
  display:block;
  clear:both;